<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img{
            width: 10px;
            height: 10px;
        }
        .imgsize{
            width: 30px;
            height: 30px;
        }
    </style>
</head>
<body>
<p>お互いの準備ができました！攻撃しましょう！</p><br>
<form action='Page3' method='post'>
    縦(0～4)<input type='text' name='attackLine'><br />
    横(0～4)<input type='text' name='attackColumn'><br />
    <button type='submit'>送信</button>
</form>
<p>あなたの陣地</p>
<img src="./ship.png" class="imgsize">
<table border="1">
    <tr>
    <th> </th>
    <th>0</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    </tr>
    <tr>
    <th>0</th>
        <td th:text="${playerBlocks[0][0]}"></td>
        <td th:text="${playerBlocks[0][1]}"></td>
        <td th:text="${playerBlocks[0][2]}"></td>
        <td th:text="${playerBlocks[0][3]}"></td>
        <td th:text="${playerBlocks[0][4]}"></td>
    </tr>
    <tr>
    <th>1</th>
    <td th:text="${line eq 1 and column eq 0}?'w':' '"></td>
    <td th:text="${line eq 1 and column eq 1}?'w':' '"></td>
    <td th:text="${line eq 1 and column eq 2}?'w':' '"></td>
    <td th:text="${line eq 1 and column eq 3}?'w':' '"></td>
    <td th:text="${line eq 1 and column eq 4}?'w':' '"></td>
    </tr>
    <tr>
    <th>2</th>
    <td th:text="${line eq 2 and column eq 0}?'w':' '"></td>
    <td th:text="${line eq 2 and column eq 1}?'w':' '"></td>
    <td th:text="${line eq 2 and column eq 2}?'w':' '"></td>
    <td th:text="${line eq 2 and column eq 3}?'w':' '"></td>
    <td th:text="${line eq 2 and column eq 4}?'w':' '"></td>
    </tr>
    <tr>
    <th>3</th>
    <td th:text="${line eq 3 and column eq 0}?'w':' '"></td>
    <td th:text="${line eq 3 and column eq 1}?'w':' '"></td>
    <td th:text="${line eq 3 and column eq 2}?'w':' '"></td>
    <td th:text="${line eq 3 and column eq 3}?'w':' '"></td>
    <td th:text="${line eq 3 and column eq 4}?'w':' '"></td>
    </tr>
    <th>4</th>
    <td th:text="${line eq 4 and column eq 0}?'w':' '"></td>
    <td th:text="${line eq 4 and column eq 1}?'w':' '"></td>
    <td th:text="${line eq 4 and column eq 2}?'w':' '"></td>
    <td th:text="${line eq 4 and column eq 3}?'w':' '"></td>
    <td th:text="${line eq 4 and column eq 4}?'w':' '"></td>
    </tr>
</table>
<p>CPUの陣地</p>
<table border="1">
    <tr>
        <th> </th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    <tr>
        <th>0</th>
        <td th:text="${cpuBlocks[0][0]}"> </td>
        <td th:text="${cpuBlocks[0][1]}"> </td>
        <td th:text="${cpuBlocks[0][2]}"> </td>
        <td th:text="${cpuBlocks[0][3]}"> </td>
        <td th:text="${cpuBlocks[0][4]}"> </td>
    </tr>
    <tr>
        <th>1</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>2</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>3</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <th>4</th>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    </tr>
</table>

</body>
</html>