<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KaisenGame</title>
</head>
<body>
<p>あなたの戦艦の位置を決めてください</p><br>

<form action='BattlePage'  method='post'>
    縦(0～4)<input type='text' placeholder="0~4" name='playerLine' th:field="*{validatedBattlePageForm.playerLine}">
    <span th:if="${#fields.hasErrors('validatedBattlePageForm.playerLine')}" th:errors="*{validatedBattlePageForm.playerLine}" style="color:red"></span><br />
    横(0～4)<input type='text' placeholder="0~4" name='playerColumn' th:field="*{validatedBattlePageForm.playerColumn}">
    <span th:if="${#fields.hasErrors('validatedBattlePageForm.playerColumn')}" th:errors="*{validatedBattlePageForm.playerColumn}" style="color:red"></span><br />
    <button type='submit'>送信</button>
</form>
</body>
</html>