<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KaisenGameFirst</title>
</head>
<body>
<p>KaisenGame</p>
<p>ルール説明</p>
<p>戦艦を選ぶ</p>
<form action='GameStartPage'  method='post'>
<input type="number" name="senkan" list="senkandata">
<datalist id="senkandata">
    <option value="0"></option>
    <option value="1"></option>
    <option value="2"></option>
    <option value="3"></option>
    <option value="4"></option>
</datalist>
    <button type="submit">送信</button>
</form>
</body>
</html>