<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>お互いの攻撃が外れました！もう一度攻撃しましょう！</p><br>
<form action='Continue' method='post'>
    縦(0～4)<input type='text' name='lineL'><br />
    横(0～4)<input type='text' name='columnC'><br />
    <button type='submit'>送信</button>
</form>
<p>あなたの陣地</p>
<table border="1">
    <tr>
        <th> </th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    <tr>
        <th>0</th>
        <td>
            <th:block th:switch="true">
                <div th:case="|${line eq 0 and column eq 0} and ${line eq cRRLParse and column eq cRRCParse}?'×':(${line eq 0 and column eq 0} and ${line ne cRRLParse or column ne cRRCParse}?'・':(${line eq 0 and column eq 0}?'w':' '))|"></div>
                <div th:case="|${line eq 0 and column eq 0} and ${line eq cpuResultcolumnPage6 and column eq cpuResultcolumnPage6}?'×':(${line eq 0 and column eq 0} and ${line ne cpuResultlinePage6 and column ne cpuResultcolumnPage6}?'・':(${line eq 0 and column eq 0}?'w':' '))|"></div>
                <div th:case="*"> </div>
            </th:block>
        </td>
        <td>

        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>1</th>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <th>2</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>3</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
        <th>4</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        </tr>
</table>

<p>CPUの陣地</p>
<table border="1">
    <tr>
        <th> </th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    <tr>
        <th>0</th>
        <td>
            <th:block th:switch="true">
                <div th:case="|${cRL eq linIn and cRC eq columnIn}?'×':(${cRL ne lineIn or cRC ne columnIn}?'・':' ')|"></div>
                <div th:case="|${cRL eq lineL and cRC eq columnC}?'×':(${cRL ne lineL and cRC ne columnC}?'・':' ')|"></div>
                <div th:case="*"> </div>
            </th:block>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
            </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>1</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>2</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>3</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
        <th>4</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>
</body>
</html>