<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>CPUの攻撃が命中しました!あなたの負けです!</p><br>
<a href="Page7">戦績へ</a>
<p>あなたの陣地</p>
<table border="1">
    <tr>
        <th> </th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    <tr>
        <th>0</th>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 0 and column eq 0}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 0 and column eq 1}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 0 and column eq 2}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 0 and column eq 3}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 0 and column eq 4}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
    </tr>
    <tr>
        <th>1</th>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 1 and column eq 0}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td> <th:block th:switch="true">
            <p th:case="${line eq 1 and column eq 1}">w</p>
            <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
            <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
            <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
            <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
            <p th:case="*"> </p>
        </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 1 and column eq 2}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 1 and column eq 3}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 1 and column eq 4}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
    </tr>
    <tr>
        <th>2</th>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 2 and column eq 0}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 2 and column eq 1}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 2 and column eq 2}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 2 and column eq 3}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 2 and column eq 4}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
    </tr>
    <tr>
        <th>3</th>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 3 and column eq 0}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 3 and column eq 1}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 3 and column eq 2}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 3 and column eq 3}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
            <th:block th:switch="true">
                <p th:case="${line eq 3 and column eq 4}">w</p>
                <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
                <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
                <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
                <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
    </tr>
    <th>4</th>
    <td>
        <th:block th:switch="true">
            <p th:case="${line eq 4 and column eq 0}">w</p>
            <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
            <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
            <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
            <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
            <p th:case="*"> </p>
        </th:block>
    </td>
    <td>
        <th:block th:switch="true">
            <p th:case="${line eq 4 and column eq 1}">w</p>
            <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
            <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
            <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
            <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
            <p th:case="*"> </p>
        </th:block>
    </td>
    <td>
        <th:block th:switch="true">
            <p th:case="${line eq 4 and column eq 2}">w</p>
            <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
            <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
            <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
            <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
            <p th:case="*"> </p>
        </th:block>
    </td>
    <td>
        <th:block th:switch="true">
            <p th:case="${line eq 4 and column eq 3}">w</p>
            <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
            <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
            <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
            <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
            <p th:case="*"> </p>
        </th:block>
    </td>
    <td>
        <th:block th:switch="true">
            <p th:case="${line eq 4 and column eq 4}">w</p>
            <p th:case="${line neq cRRLParse or column neq cRRCParse}">・</p>
            <p th:case="${line eq cRRLParse and column eq cRRCParse}">×</p>
            <p th:case="${line neq cpuResultlinePageg6 or column neq cpuResultcolumnPage6}">・</p>
            <p th:case="${line eq cpuResultlinePage6 and column eq cpuResultcolumnPage6}">×</p>
            <p th:case="*"> </p>
        </th:block>
    </td>
    </tr>
</table>
<table border="1">
    <tr>
        <th> </th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    <tr>
        <th>0</th>
        <td>
            <th:block th:switch="true">
                <p th:case="${'line eq 0 and column eq 0' and 'line eq cRRLParse and column eq cRRCParse'}?'×':(${'line eq 0 and column eq 0' and 'line neq cRRLParse or column neq cRRCParse'}?'・':(${line eq 0 and column eq 0}?'w':' '))"></p>
                <p th:case="${}?'':''"></p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>

        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>1</th>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <th>2</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>3</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
        <th>4</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>

<p>CPUの陣地</p>
<table border="1">
    <tr>
        <th> </th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    <tr>
        <th>0</th>
        <td>
            <th:block th:switch="true">
                <p th:case="${cRL neq lineIn or cRC neq columnIn}">・</p>
                <p th:case="${cRL eq lineIn and cRC eq columnIn}">×</p>
                <p th:case="${cRL neq lineL or cRC neq columnC}">・</p>
                <p th:case="${cRL eq lineL and cRC eq columnC}">×</p>
                <p th:case="*"> </p>
            </th:block>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>1</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>2</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th>3</th>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <th>4</th>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    </tr>
</table>
</body>
</html>